body{
 margin:0;
}

/* makes it so that you cannot drag images */
.stop_drag{
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*gets rid of the ibar cursor when you go
over a text field */
.default_cursor{
	cursor: default;
}

/* the wrapper */
#page{
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:738px;
}

#top_bar{
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:70px;
  background-color:#369;
  color:#fff;
}

#game{
  position:absolute;
  left:0px;
  top:70px;
  width:1000px;
  height:620px;
  background-color:#fff;
  clip:auto;
  overflow:hidden;
}

#footer_bar{
  position:absolute;
  left:0px;
  top:690px;
  width:1000px;
  height:48px;
  background-color:#369;
}

.dialog{
  position:absolute;
  left:300px;
  top:110px;
  height:460px;
  width:320px;
  background-color:#369;
  border-radius:30px;
  border:2px solid #99f;
  padding: 20px 50px;
  color:#fff;
  text-align:center;
  display:none;
}

.dialog h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size:28px;
  color:#fff;
  margin:100px 0 20px;
}

.but_start_game{
  font-family: 'Montserrat', sans-serif;
  position:absolute;
  left:100px;
  top:300px;
  height: 60px;
  width: 200px;
  background-color:#f00;
  cursor:pointer;
  border-radius: 15px;
  border: 2px solid #f66;
  font-size:20px;
  line-height:60px;
  font-weight: 700;
  color:Black ;

}

.but_start_game:hover{
  background-color: #f33;
}

#start_game{
  display:block;
}
